*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* common style */

.primary-btn{
    color: white;
    background-color: #30B868;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600px;
    border: none;
    
}

/* main style */

header{
    background-color:#ffffff ;
}

nav{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 120px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    width: 100%;
    max-width: 139px;
}

nav .menu{
    display: flex;
    font-size: 16px;
    font-weight: 500px;
    list-style-type: none;
    gap: 32px;
    color: black;
    align-items: center;
}


