*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* common style */

.primary-btn{
    color: white;
    background-color: #30B868;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600px;
    border: none;
    
}

.color-green{
    color: #30B868;
}

/* main style */

header{
    background-color:#ffffff ;
}

nav{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 120px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    width: 100%;
    max-width: 139px;
}

nav .menu{
    display: flex;
    font-size: 16px;
    font-weight: 500px;
    list-style-type: none;
    gap: 32px;
    color: black;
    align-items: center;
}

#banner{
    display: flex;
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    padding: 70px 120px 134px 120px;
}

#banner .banner-content{
    
    /* max-width: 1360px; */
    margin: 0 auto;
    /* border: #30B868 solid 1px; */
}




#banner .banner-content .early-access{
    width: 230px;
    color: #30B868;
    display: flex;
    gap: 5px;
    background-color: white;
    justify-content: center;
    padding: 8px 10px 8px 10px;
    border-radius: 100px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500px;
    align-items: center;
}


/* #banner .banner-content .early-access img{
    width: 16px;
} */

.banner-content h1{
    color: white;
    font-size: 72px;
    width: 770px;
    padding-top:16px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    line-height: 84px;
}

.banner-content .banner-p{
    padding-top: 18px;
    line-height: 24px;
    color: white;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width: 770px;
    align-items: center;
}

.banner-content .banner-btn{
    display: flex;
    width: 465px;
    padding-top: 32px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    gap: 16px;
    /* border: 1px solid green; */
}

.btn{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
}

#card-container{
    width: 100%;
    
}

#card-container .section-heading{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#card-container .section-heading h1{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    padding-top: 60px;
}

#card-container .section-heading p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}

#card-container .card-box{
    display: flex;
    padding-top: 44px;
    margin: 0 120px;
    gap: 24px;
}

#card-container .card-box .card{
    
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #00000012;
    padding:24px 24px;
    /* border: #30B868 solid 1px; */
    text-align: center;
    /* justify-content: space-around; */
    
}

#card-container .card-box .card img{
    /* border: #30B868 solid 1px; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #F95555;
    padding: 15.5px 15.5px;
    border-radius: 50%;

}

#card-container .card-box .card .card-img{
    align-items: center;
    width: 100%;
    background-color: F95555;
    padding-top: 55.5px;
}

#card-container .card-box .card h3{
    font-size: 24px;
    font-weight: 600px;
    padding-top: 16px;
}

#card-container .card-box .card p{
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 45.5px;
    color: #627382;
}


